/src/gresource/gnome-shell-dark.css
/src/gresource/gnome-shell-high-contrast-dark.css
/src/gresource/gnome-shell-high-contrast.css
/src/gresource/gnome-shell-theme.gresource
/src/gresource/gnome-shell.css
/src/gresource/login-background
/themes/*/gnome-shell/gnome-shell.css
